@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--font-sans);
  --font-display: var(--font-display);
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}
